<select>
  <option value='Restaurants'>Restaurants</option>
  <option value='Coffee_&_Tea_Shops'>Coffee & Tea Shops</option>
  <option value='Professional_Sports'>Professional Sports</option>
  <option value='Bars_&_Pubs'>Bars & Pubs</option>
  <option value='Movie_Theaters'>Movie Theaters</option>
  <option value='Live_Theatre'>Live Theatre</option>
  <option value='Museums'>Museums</option>
  <option value='Attractions'>Attractions</option>
  <option value='Travel'>Travel</option>
  <option value='Sports_Recreation Instruction'>Sports & Recreation Instruction</option>
  <option value='Recreation_Facilties'>Recreation Facilites</option>
</select>