<div class="checkbox">
  <div class="row">


<div class="col-xs-6">
  <ul><input type='checkbox' value='Restaurants'> Restaurants</input></ul>
  <ul><input type='checkbox' value='Coffee_&_Tea_Shops'> Coffee & Tea Shops</input></ul>
  <ul><input type='checkbox' value='Professional_Sports'> Professional Sports</input></ul>
  <ul><input type='checkbox' value='Bars_&_Pubs'> Bars & Pubs</input></ul>
  <ul><input type='checkbox' value='Movie_Theaters'> Movie Theaters</input></ul>
  <ul><input type='checkbox' value='Live_Theatre'> Live Theatre</input></ul>
</div>



<div class="col-xs-6">
  <ul><input type='checkbox' value='Museums'> Museums</input></ul>
  <ul><input type='checkbox' value='Attractions'> Attractions</input></ul>
  <ul><input type='checkbox' value='Travel'> Travel</input></ul>
  <ul><input type='checkbox' value='Sports_Recreation Instruction'> Sports & Recreation Instruction</input></ul>
  <ul><input type='checkbox' value='Recreation_Facilties'> Recreation Facilites</input></ul>
</div>
</div>
</div>
