<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">U.S. City Search</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class= "col-md-1">
            City
          </label>
          <input type="text" name="city" placeholder="ex. Denver">
          <br>
          <label class="col-md-1">State</label>
            <%= render 'state_dropdown' %>
            <br>
          <label class="col-md-3" id="activities">Activity</label>
            <%= render 'activities_checkbox' %>
            <label class="col-md-3">Results Per Page</label>
            <%= render 'rPP' %>
            <label class="col-md-3">Sort By</label>
            <%= render 'sort_by' %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="search" onclick="window.location.hash = 'cityResults';"/>Search</button>
      </div>
    </div>
  </div>
</div>
