<section class="module parallax parallax-1">
  <div class="container">
    <h1>City Finder</h1>
    <h3>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Search</h2>
    <p>Type city and state for instantaneous results</p>
    <br>
    <div class="form-group">
  <label class= "col-md-2">
    Search
  </label>
  <div>
    <label>City</label>
      <input type="text" name="city"><br />
    <label class="col-md-offset-2">State</label>
      <input type="text" name="state">
  </div>
  <button class="btn btn-primary col-md-offset-2">Search</button>
</div>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Search</h1>
  </div>
  <div class="weather icon"><p> Weather Forecast:</p> </div>
</section>
