
<section class="module parallax parallax-1">
  <div class="container">
    <h1>City Finder</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <div style="text-align:center;">
      <button type="button" class="btn btn-primary btn-lg" id="mainButton" data-toggle="modal" data-target="#modal">
        Get Started
      </button>
    </div>
    <%= render 'modal' %>

  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
  </div>
</section>

<section class="module content">
  <div class="container">
    <div class="weather icon">
      <a name="cityResults"></a>
    </div>
    <div class="photos">
    </div>
  </div>
</section>
